<div class="container">

  <h1>Prédiction du prix d'un logement Airbnb </h1>
  <form>
    <div class="form-group">
      <label for="host_listings_count">Nombre d'annonces antérieures</label>
      <input type="number" class="form-control" id="host_listings_count" 
      required 
      step="1"
      [(ngModel)]="appart.host_listings_count" name="host_listings_count">
    </div>

    <div class="form-group">
      <label for="accommodates">Nombre d'équipements</label>
      <input type="number" class="form-control" id="accommodates"
      required 
      step="1"
      [(ngModel)]="appart.accommodates" name="accommodates">
    </div>

    <div class="form-group">
      <label for="bathrooms">Nombre de salles de bain</label>
      <input type="number" class="form-control" id="bathrooms" 
      required 
      step="1"
      [(ngModel)]="appart.bathrooms" name="bathrooms">
    </div>

    <div class="form-group">
      <label for="bedrooms">Nombre de chambres à coucher</label>
      <input type="number" class="form-control" id="bedrooms" 
      required 
      step="1"
      [(ngModel)]="appart.bedrooms" name="bedrooms">
    </div>

    <div class="form-group">
      <label for="beds">Nombre de lits</label>
      <input type="number" class="form-control" id="beds" 
      required 
      step="1"
      [(ngModel)]="appart.beds" name="beds">
    </div>

    <div class="form-group">
      <label for="number_of_reviews">Nombre de commentaires</label>
      <input type="number" class="form-control" id="number_of_reviews" 
      required 
      step="1"
      [(ngModel)]="appart.number_of_reviews" name="number_of_reviews">
    </div>

    <div class="form-group">
      <label for="metres">Surface en m²</label>
      <input type="number" class="form-control" id="metres" 
      required 
      step="1"
      [(ngModel)]="appart.metres" name="metres">
    </div>

    <div class="form-group">
      <label for="neighbourhood_cleansed">Example select</label>
      <select class="form-control" id="neighbourhood_cleansed">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success" (click)="predict()">Envoyer</button>

  </form>
</div>

<div *ngIf="prix">
  <p>{{ prix.dollars }}</p></div>