<div class="container">

  <h1>Prédiction d'espèces de fleurs d'Iris </h1>
  <form>
    <div class="form-group">
      <label for="sepalLength">Longueur de la sépale</label>
      <input type="number" class="form-control" id="sepalLength" 
      required 
      step="0.01"
      [(ngModel)]="iris.sepalLength" name="sepalLength">
    </div>

    <div class="form-group">
      <label for="sepalWidth">Hauteur de la sépale</label>
      <input type="number" class="form-control" id="sepalWidth"
      required 
      step="0.01"
      [(ngModel)]="iris.sepalWidth" name="sepalWidth">
    </div>

    <div class="form-group">
      <label for="petalLength">Longueur de la pétale</label>
      <input type="number" class="form-control" id="petalLength" 
      required 
      step="0.01"
      [(ngModel)]="iris.petalLength" name="petalLength">
    </div>

    <div class="form-group">
      <label for="petalWidth">Hauteur de la pétale</label>
      <input type="number" class="form-control" id="petalWidth" 
      required 
      step="0.01"
      [(ngModel)]="iris.petalWidth" name="petalWidth">
    </div>

    <button type="submit" class="btn btn-success" (click)="predict()">Envoyer</button>

  </form>
</div>